<div class="primary--banner flex-text--vh--center" id="welcome">
  <h1>My Watchlists</h1>
</div>

<div class="container py-3 container--grid">
  <% @lists.each do |list| %>
    <div class="card flex-text--vh--center">
      <h3><%= list.name %></h3>
    </div>
  <% end %>
</div>
